/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'appetiteregular';
  src: url("../fonts/appetite-webfont.eot");
  src: url("../fonts/appetite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/appetite-webfont.woff") format("woff"), url("../fonts/appetite-webfont.ttf") format("truetype"), url("../fonts/appetite-webfont.svg#appetiteregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'capriolaregular';
  src: url("../fonts/capriola-regular-webfont.eot");
  src: url("../fonts/capriola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/capriola-regular-webfont.woff") format("woff"), url("../fonts/capriola-regular-webfont.ttf") format("truetype"), url("../fonts/capriola-regular-webfont.svg#capriolaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../scss/maynards_view.scss */
body {
  text-align: center;
  font-family: 'appetiteregular';
}

/* line 8, ../scss/maynards_view.scss */
.bgPink {
  background: #de077e;
}

/* line 9, ../scss/maynards_view.scss */
.bgBlue {
  background: #00ade8;
}

/* line 10, ../scss/maynards_view.scss */
.bgWhite {
  background: #feffff;
  background: url("../imgs/whitegrad.jpg") 0 0;
}

/* line 11, ../scss/maynards_view.scss */
.height700 {
  min-height: 350px;
}

/* line 14, ../scss/maynards_view.scss */
.scaleRow {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  height: 0;
}

/* line 21, ../scss/maynards_view.scss */
.innerElement {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  font-size: 3em;
}

/* line 30, ../scss/maynards_view.scss */
.videobox {
  position: absolute;
  width: 408px;
  height: 259px;
  margin: auto;
  left: 50%;
  top: 47px;
  margin-left: -204px;
  background: url("../imgs/videobox.png");
  background-size: 100% 100%;
}

/* line 42, ../scss/maynards_view.scss */
.videoRow {
  background: url("../imgs/video_bg.png") 0 0 no-repeat;
  background-size: 700px 350px;
  background-position: center;
  width: 100%;
  height: 350px;
}

/* line 50, ../scss/maynards_view.scss */
.videoplayer {
  width: 379px;
  height: 230px;
  background: grey;
  margin-top: 14px;
  margin-left: 15px;
}

/* line 58, ../scss/maynards_view.scss */
#screen1 {
  background: url("../imgs/top_bg1.jpg") 0 0 no-repeat;
  background-size: 700px 350px;
  background-position: center;
  width: 100%;
  height: 350px;
}

/* line 66, ../scss/maynards_view.scss */
#appdownload {
  background: url("../imgs/bg_app.jpg") 0 0 no-repeat;
  background-size: 700px 350px;
  background-position: center;
  width: 100%;
  height: 350px;
}

/* line 74, ../scss/maynards_view.scss */
.statsbox {
  position: relative;
  width: 422px;
  height: 271px;
  left: 50%;
  margin-left: -211px;
  margin-top: 26px;
}

/* line 84, ../scss/maynards_view.scss */
#logoBox {
  width: 168px;
  height: 330px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 10px;
  z-index: 2;
}

/* line 95, ../scss/maynards_view.scss */
.logo {
  background: url("../imgs/logo.png") 0 0 no-repeat;
  background-size: 100% 100%;
  width: 141px;
  height: 102px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 105, ../scss/maynards_view.scss */
.btn_buy {
  background: url("../imgs/btn_buy.png") 0 0 no-repeat;
  background-size: 100% 100%;
  width: 95px;
  height: 25px;
  position: absolute;
  position: absolute;
  top: 185px;
  left: 35px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 118, ../scss/maynards_view.scss */
.btn_buy:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 123, ../scss/maynards_view.scss */
.btn_tv {
  background: url("../imgs/btn_tv.png") 0 0 no-repeat;
  background-size: 100% 100%;
  width: 62px;
  height: 79px;
  position: absolute;
  top: 220px;
  left: 15px;
}

/* line 133, ../scss/maynards_view.scss */
.btn_app {
  background: url("../imgs/btn_app.png") 0 0 no-repeat;
  background-size: 100% 100%;
  width: 64px;
  height: 83px;
  position: absolute;
  top: 240px;
  left: 87px;
}

/* line 143, ../scss/maynards_view.scss */
#footer-download {
  height: 112px;
}

/* line 147, ../scss/maynards_view.scss */
#footer-download .borderWhite {
  margin-top: 14px;
}

/* line 151, ../scss/maynards_view.scss */
#footer-base {
  min-height: 130px;
}

/* line 155, ../scss/maynards_view.scss */
.borderWhite {
  border-top: 1px dashed white;
  width: 100%;
  height: 4px;
}

/* line 161, ../scss/maynards_view.scss */
.margT5 {
  margin-top: 5px;
}

/* line 162, ../scss/maynards_view.scss */
.padB20 {
  padding-bottom: 20px;
}

/* line 163, ../scss/maynards_view.scss */
.padB10 {
  padding-bottom: 10px;
}

@media (max-width: 530px) {
  /* line 168, ../scss/maynards_view.scss */
  #logoBox {
    margin-left: 0px;
    right: 20px;
  }

  /* line 173, ../scss/maynards_view.scss */
  #screen1 {
    background-position: 24%;
  }

  /* line 177, ../scss/maynards_view.scss */
  .arrowL, .arrowR {
    width: 30px;
    height: 40px;
    top: 165px;
  }
}
