/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'appetiteregular';
  src: url("../fonts/appetite-webfont.eot");
  src: url("../fonts/appetite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/appetite-webfont.woff") format("woff"), url("../fonts/appetite-webfont.ttf") format("truetype"), url("../fonts/appetite-webfont.svg#appetiteregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'capriolaregular';
  src: url("../fonts/capriola-regular-webfont.eot");
  src: url("../fonts/capriola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/capriola-regular-webfont.woff") format("woff"), url("../fonts/capriola-regular-webfont.ttf") format("truetype"), url("../fonts/capriola-regular-webfont.svg#capriolaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../scss/nav.scss */
.arrowR {
  width: 37px;
  height: 58px;
  position: absolute;
  top: 150px;
  right: 30px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 13, ../scss/nav.scss */
.arrowL {
  width: 37px;
  height: 58px;
  position: absolute;
  top: 150px;
  left: 30px;
  cursor: pointer;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 24, ../scss/nav.scss */
.arrowL:hover {
  -webkit-transform: rotate(-180deg) scale(1.15);
  -moz-transform: rotate(-180deg) scale(1.15);
  -ms-transform: rotate(-180deg) scale(1.15);
  -o-transform: rotate(-180deg) scale(1.15);
  transform: rotate(-180deg) scale(1.15);
}

/* line 28, ../scss/nav.scss */
.arrowR:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

/* line 33, ../scss/nav.scss */
.a-yellow {
  background: url("../imgs/arrow_yellow.png") 0 0 no-repeat;
  background-size: 100% 100%;
}

/* line 38, ../scss/nav.scss */
.logoContain {
  padding-top: 10px;
  padding-bottom: 20px;
  height: 32px;
  width: 194px;
  margin: auto;
}

/* line 46, ../scss/nav.scss */
.logo_apple, .logo_google {
  background: url("../imgs/logo-apple-pink.png") 0 0 no-repeat;
  background-size: 100% 100%;
  width: 92px;
  height: 32px;
  float: left;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 55, ../scss/nav.scss */
.logo_google {
  background: url("../imgs/logo-google-pink.png") 0 0 no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

/* line 60, ../scss/nav.scss */
.logo_apple:hover, .logo_google:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 64, ../scss/nav.scss */
.clear {
  clear: both;
  margin: 0px;
}

/* line 69, ../scss/nav.scss */
.foot-logos {
  width: 290px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 77, ../scss/nav.scss */
.foot-logos li {
  list-style: none;
  float: left;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 84, ../scss/nav.scss */
.foot-logos li:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

/* line 90, ../scss/nav.scss */
.vidShare {
  color: #4b4b4b;
  padding-top: 25px;
  width: 270px;
  margin: auto;
}

/* line 97, ../scss/nav.scss */
.vidShare .title {
  float: left;
  font-size: 12px;
  line-height: 22px;
  margin-right: 3px;
  margin-left: 21px;
}

/* line 109, ../scss/nav.scss */
.vidShareLogos li {
  list-style: none;
  width: 63px;
  height: 20px;
  float: left;
  margin-left: 4px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 119, ../scss/nav.scss */
.vidShareLogos li:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
