
//imports --------------------------
@import "compass";
@import "compass/css3";
@import "compass/reset";
// @import "compass/utilities";
// @import "blueprint";


//Vars -----------------------------
$pink: #de077e;
$blue: #00ade8;
$yellow: #ffef00;
$offwhite: #feffff;
$font-color : #333;




// FONTS ---------------------------

@font-face {
    font-family: 'appetiteregular';
    src: url('../fonts/appetite-webfont.eot');
    src: url('../fonts/appetite-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/appetite-webfont.woff') format('woff'),
         url('../fonts/appetite-webfont.ttf') format('truetype'),
         url('../fonts/appetite-webfont.svg#appetiteregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'capriolaregular';
    src: url('../fonts/capriola-regular-webfont.eot');
    src: url('../fonts/capriola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/capriola-regular-webfont.woff') format('woff'),
         url('../fonts/capriola-regular-webfont.ttf') format('truetype'),
         url('../fonts/capriola-regular-webfont.svg#capriolaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}