@import "base";

body{
	text-align:center;
	font-family: 'appetiteregular';
}

.bgPink{ background: $pink; }
.bgBlue{ background: $blue; }
.bgWhite{ background: $offwhite; background: url('../imgs/whitegrad.jpg') 0 0; }
.height700{min-height:350px}


.scaleRow{
	position: relative;
	width: 100%;
    padding-bottom: 50%;
    height: 0;
}

.innerElement{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        overflow: hidden;
        font-size:3em;
}

.videobox{
    position: absolute;
    width: 408px;
    height:259px ;
    margin: auto;
    left: 50%;
    top:47px;
    margin-left:-204px;
    background: url('../imgs/videobox.png') ; 
	background-size: 100% 100%;
}

.videoRow{
	background: url('../imgs/video_bg.png') 0 0 no-repeat ; 
	background-size: 700px 350px;
	background-position: center;
	width: 100%;
    height:350px;
}

.videoplayer{
	width:379px;
	height:230px;
	background:grey;
	margin-top:14px;
	margin-left:15px;
}

#screen1{
	background: url('../imgs/top_bg1.jpg') 0 0 no-repeat ; 
	background-size: 700px 350px;
	background-position: center;
	width:100%;
	height:350px;
}

#appdownload{
	background: url('../imgs/bg_app.jpg') 0 0 no-repeat ; 
	background-size: 700px 350px;
	background-position: center;
	width:100%;
	height:350px;
}

.statsbox{
    position: relative;
    width: 422px;
    height: 271px;
    left: 50%;
    margin-left: -211px;
    margin-top: 26px;
}


#logoBox{
	width:168px;
	height:330px;
	// background:grey;
	position:absolute;
	left:50%;
	margin-left:-60px;
	top:10px;
	z-index: 2;
}

.logo{
	background: url('../imgs/logo.png') 0 0 no-repeat ; 
	background-size: 100% 100%;
	width:141px;
	height:102px;
	position:absolute;
	top:10px;
	left:10px;
}

.btn_buy{
	background: url('../imgs/btn_buy.png') 0 0 no-repeat ; 
	background-size: 100% 100%;
	width:95px;
	height:25px;
	position:absolute;
	position:absolute;
	top:185px;
	left:35px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.btn_buy:hover{
	@include transform(scale(1.1));
}


.btn_tv{
	background: url('../imgs/btn_tv.png') 0 0 no-repeat ; 
	background-size: 100% 100%;
	width:62px;
	height:79px;
	position:absolute;
	top:220px;
	left:15px;
}

.btn_app{
	background: url('../imgs/btn_app.png') 0 0 no-repeat ; 
	background-size: 100% 100%;
	width:64px;
	height:83px;
	position:absolute;
	top:240px;
	left:87px;
}

#footer-download{
	height:112px;
}

#footer-download .borderWhite{
	margin-top:14px;
}

#footer-base{
	min-height:130px
}

.borderWhite{
	border-top: 1px dashed white;
	width:100%;
	height:4px;
}

.margT5{margin-top:5px;}
.padB20{padding-bottom:20px;}
.padB10{padding-bottom:10px;}


@media (max-width: 530px) {

	#logoBox{
		margin-left:0px;
		right:20px;
	}

 	#screen1{
 		background-position: 24%;
 	}

	.arrowL, .arrowR{
		width:30px;
		height:40px;
		top:165px;
		}
}