@import "base";

.arrowR{
	width:37px;
	height:58px;
	position: absolute;
	top:150px;
	right:30px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.arrowL{
	width:37px;
	height:58px;
	position: absolute;
	top:150px;
	left:30px;
	cursor: pointer;
	@include transform(rotate(-180deg)  );
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.arrowL:hover{
	@include transform(rotate(-180deg) scale(1.15));
}

.arrowR:hover{
	@include transform(scale(1.15));
}


.a-yellow{
	background: url('../imgs/arrow_yellow.png') 0 0 no-repeat ; 
	background-size:100% 100%;
}

.logoContain{
	padding-top:10px;
	padding-bottom:20px;
	height:32px;
	width:194px;
	margin:auto;
}

.logo_apple, .logo_google{
	background: url('../imgs/logo-apple-pink.png') 0 0 no-repeat ; 
	background-size:100% 100%;
	width:92px;
	height:32px;
	float:left;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}
.logo_google{
	background: url('../imgs/logo-google-pink.png') 0 0 no-repeat ; 
	background-size:100% 100%;
	margin-left:10px;
}
.logo_apple:hover, .logo_google:hover{
	@include transform(scale(1.1));
}

.clear{
	clear:both;
	margin:0px;
}

.foot-logos{
	width:290px;
	height:60px;
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
}

.foot-logos li{
	list-style: none;
	float:left;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.foot-logos li:hover{
	@include transform(scale(0.9));
}



.vidShare{
	color:#4b4b4b;
	padding-top:25px;
	width:270px;
	margin:auto;
}

.vidShare .title{
	float:left;
	font-size:12px;
	line-height:22px;
	margin-right:3px;
	margin-left:21px;
}

.vidShareLogos{

}

.vidShareLogos li{
	list-style:none;
	width:63px;
	height:20px;
	float:left;
	margin-left:4px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.vidShareLogos li:hover{
	@include transform(scale(0.9));
}