@import "base";

.txtPink{
	color:#fc0095;
	@include text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.txtTitle{
	font-size:16px;
	padding-top:15px;
}

.txtFooter{
	color:#00ade8;
	font-size:9px;
	font-family: 'capriolaregular';
}

.txtBlue{
	color:#00ade8;
}

.txtDesc{
	font-family: 'capriolaregular';
	font-size:10px;
	color:white
}

.padT25{padding-top:25px;}

.txt-AppTitle{
	padding-top:80px;
}

.txt-AppDesc{
	padding-top:155px;
	font-size:10px;
}

.txt-AppLegal{
	padding-top:10px;
	font-size:9px;
	font-family: 'capriolaregular';
}


